<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-customer">Create new customer</a>
<h1>Customers</h1>
<table border="1">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Provinces</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="customer : ${list}">
        <tr>
            <td th:text="${list.id}"></td>
            <td th:text="${list.name}"></td>
            <td th:text="${list.age}"></td>
            <td th:text="${list.depart}"></td>
            <td><a th:href="@{/edit/{id}/__${list.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete/{id}/__${list.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>